@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}